<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página principal</title>
</head>
<body>
<h1 th:text="${mensaje}">Bienvenidos</h1>
<p th:text="'Nombre: ' + ${nombre}"></p>

<p th:text="'Titulo: ' + ${titulo}"></p>
<p th:text="'Fecha de reseña: ' + ${fechaResenia}"></p>
<p th:text="'Género: ' + ${genero}"></p>
<p th:text="'Año de estreno: ' + ${anioEstreno}"></p>
<p th:text="'Rating: ' + ${rating}"></p>
<p th:text="'Está vigente? ' + ${vigente}"></p>
</body>
</html>